<!-- templates/second.html -->
<section id="second-section">
    <div class="content-container">
        <!-- 아이콘 컨테이너 위치 변경 -->
        <div class="icon-container">
          <a href="#" id="copy-email" data-email="ggp05158@naver.com">
            <span class="email-icon">
              <img src="{{ url_for('static', filename='images/gmail.png') }}" alt="Email Icon" class="Email Icon-image" style="width: 26px; height: 26px; margin-left: 150px;">
            </span>
          </a>
          
        </div>
      <div class="text-container">
          <!--f 와 e 아이콘은 필요없으니 삭제-->
        <p>
          포토폴리오포토폴리오포토폴리오포토폴리오포토폴리오포토폴리오포토폴리오포토폴리오포토폴리오.
        </p>
        <p>
          A single-page website, as its name implies, is self-contained. There are no links to additional internal pages, with every piece of it accessible from one space. This isn't to say that a single-page web design boxes people in. <a href="#">Interactions</a>, animations, horizontal scrolling, transitions, and other engaging visuals can all work together to make it feel much bigger than one page. We've pulled together some tips and single page website examples to showcase the power of small packages.
        </p>
        <ul class="changeglza">
          <li>Creative portfolios</li>
          <li>Design studio websites</li>
          <li>Landing pages</li>
          <li>Event websites</li>
          <li>Product pages</li>
          <li>Agency websites</li>
          <li>Tech startups</li>
        </ul>
        <h2>What Types of Content is a Single Page Website Suited For?</h2>
      </div>
    </div>
  </section>