<!-- templates/third.html -->

<!-- 첫 번째 섹션 -->
<section id="third-section">
  <div class="image-container">
    <img src="{{ url_for('static', filename='images/aaa.png') }}" alt="Sample Image" class="sample-image">
    <!-- 어두워지는 오버레이 요소 추가 -->
    <div class="dark-overlay"></div>
  </div>
  <div class="text-container">
    <h2>flask 를 이용한 홈페이지</h2>
    <p>
      flask를 이용한 홈페이지를 제작했습니다 음식 소개 및 레시피를 올려 공유하거나 검색할수 있으며 로그인을 할 경우 mysql
      에 저장되어있는 데이터들을 기반으로 추천을 하거나 새로운 레시피를 생성 및 수정도 할수있습니다 
      <a href="#">Morpho</a>, the opening screen shows an animation...
    </p>
    <p>
      Git 주소: 
      <a href="https://github.com/HelloLee7/flask_test2" target="_blank" rel="noopener noreferrer">
        flask-web-foodfighter
      </a>
    </p>
  </div>
</section>

<!-- 두 번째 섹션 -->
<section id="third-section">
  <div class="image-container">
    <img src="{{ url_for('static', filename='images/bbb.png') }}" alt="Sample Image" class="sample-image">
    <div class="dark-overlay"></div>
  </div>
  <div class="text-container">
    <h2>Morpho2</h2>
    <p>
      This single page website example for tech company <a href="#">Morpho</a>, 
      the opening screen shows an animation...
    </p>
    <p>
      Git 주소: 
      <a href="https://github.com/HelloLee7/iduino" target="_blank" rel="noopener noreferrer">
        iduino-car-remote
      </a>
    </p>
  </div>
</section>

<!-- 세 번째 섹션 -->
<section id="third-section">
  <div class="image-container">
    <img src="{{ url_for('static', filename='images/ccc.png') }}" alt="Sample Image" class="sample-image">
    <div class="dark-overlay"></div>
  </div>
  <div class="text-container">
    <h2>Morpho3</h2>
    <p>
      This single page website example for tech company <a href="#">Morpho</a>, 
      the opening screen shows an animation...
    </p>
    <p>
      Git 주소: 
      <a href="https://github.com/HelloLee7/calculator_thejavas/tree/master/src" target="_blank" rel="noopener noreferrer">
        TheJava-calculato
      </a>
    </p>
  </div>
</section>

<!-- 네 번째 섹션 -->
<section id="third-section">
  <div class="image-container">
    <img src="{{ url_for('static', filename='images/a3.png') }}" alt="Sample Image" class="sample-image">
    <div class="dark-overlay"></div>
  </div>
  <div class="text-container">
    <h2>Morpho3</h2>
    <p>
      This single page website example for tech company <a href="#">Morpho</a>, 
      the opening screen shows an animation...
    </p>
    <p>
      Git 주소: 
      <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
        github 대충 프로젝트 1번
      </a>
    </p>
  </div>
</section>
